/*https://color.adobe.com/pt/create/color-wheel e https://coolors.co/ - Para escolher cores que combinem*/

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;
    /* Cores alternativas legais 
    --cor-primaria: #393E46;
    --cor-secundaria: #DFD0B8;
    --cor-terciaria: #948979;
    --cor-hover: #948979; */
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
    /* Variaveis para controle das cores, da para brincar com diferentes moldes de cores e botoes */
    /* https://colorhunt.co/ para pegar grupos de cores legais */
}

* {
    margin: 0;
    padding: 0;
}


body {

    /* height: 100vh; */
    /*Vai ocupar 100% do viewport (tela)*/
    background-color: var(--cor-primaria);
    box-sizing: border-box;
    /*Não vai deixar elementos filhos sairem dos elementos pais*/
    color: var(--cor-secundaria);
}

.destaquetitulo {
    color: var(--cor-terciaria);
    ;
}

.apresentacao {
    margin: 6% 15%;
    display: flex;
    /*Acessar "A complete guide to Flexbox" https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
    align-items: center;
    justify-content: space-between;
    /*Enquanto estiver espaço, vai pro lado*/
    gap: 82px;

}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.foto__eu {
    border-radius: 30px;
    border: var(--cor-terciaria) 6px double;
    width: 32%;
    height: 50%;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    padding: 14px;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 400;
}

@media (max-width:1200px){ 
    /* Se a width estiver menor que 1200px, vai aplicar o que vem dentro das chaves */
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}